<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<head th:replace="leftmenu :: head">
</head>
<body>

<div id="main-wrapper" th:replace="leftmenu :: adminMenu">

</div>

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Period Type Add/Edit</h4>
          </div>
          <div class="card-body">
            <div class="form-validation">
              <form th:object="${periodType}" class="form-valide"
                    th:action="${periodType != null ?  '/admin/periodType/update' : '/admin/periodType/add'}" method="post">
                <div class="row">
                  <div class="col-xl-12">

                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="name">Period Type name
                        <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="name"
                               name="name" th:value="${periodType != null ? periodType.getName() : ''}" placeholder="Enter a period type name...">
                      </div>
                    </div>

                    <input id="id" name="id" type="hidden" class="form-control"
                           th:value="${periodType != null ? periodType.getId() : ''}">

                    <div class="form-group row">
                      <div class="col-lg-8 ml-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="leftmenu :: footer">

</div>

</body>
</html>