<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<head th:replace="leftmenu :: head">
</head>
<body>

<div id="main-wrapper" th:replace="leftmenu :: adminMenu">

</div>

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">User Add/Edit</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" th:action="${'/booking/add'}" method="post">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="apartment">Tarif
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="tarif" name="tarif">
                                                    <option th:each="tarif : ${tarifs}" th:value="${tarif.getId()}"
                                                            th:text="${tarif.getName()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="apartment">Apartment
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="apartment" name="apartment">
                                                    <option th:each="apartment : ${apartments}"
                                                            th:value="${apartment.getId()}"
                                                            th:text="${apartment.getName()+' Rooms: '+apartment.getCountOfRooms()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="startDate">Start Date</label>
                                            <div class="col-lg-6">
                                                <input type="datetime-local" class="form-control" name="startDate"
                                                       placeholder="1990-00-00" id="startDate">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="endDate">End Date</label>
                                            <div class="col-lg-6">
                                                <input type="datetime-local" class="form-control" name="endDate"
                                                       placeholder="1990-00-00" id="endDate">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="priceOneNight">Apartment price
                                                for 1 night
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input readonly type="text" class="form-control" id="priceOneNight"
                                                       name="phoneNumber">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="sum">Price
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input readonly type="text" class="form-control" id="sum" name="sum">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="sumBonus">Sum of bonus
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input readonly type="text" class="form-control" id="sumBonus"
                                                       name="sumBonus">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="generalSum">General sum
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input readonly type="text" class="form-control" id="generalSum"
                                                       name="generalSum" >
                                            </div>
                                        </div>

                                        <input id="id" name="id" type="hidden" class="form-control" th:value="${currentUser.getId()}">

                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="leftmenu :: footer">

</div>
<script th:inline="javascript">
    jQuery('#tarif').on('change', function () {
        var sel = document.getElementById("tarif");
        var val = sel.options[sel.selectedIndex].value;
        $("#apartment").empty();
        var select = document.getElementById("apartment");
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/api/v1/getApartmentsByTarifId/" + val,
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var optn = data[i];
                    var el = document.createElement("option");
                    el.textContent = optn.name + " Rooms: " + optn.countOfRooms;
                    el.value = optn.id;
                    select.appendChild(el);
                }
            }
        });
        var priceForOneNight = document.getElementById("priceOneNight");
        var price = document.getElementById("sum");
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/api/v1/getTarifById/" + val,
            dataType: 'json',
            success: function (data) {
                priceForOneNight.value = data.price
                price.value = priceForOneNight.value * getDays();
            }
        });
        var userId = document.getElementById("id").value;
        var sumBonus = document.getElementById("sumBonus");
        var generalSum = document.getElementById("generalSum");
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/api/v1/getBonusCardByUserId/" + userId,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var bonusForOneNight = Math.floor(data.balance/500) * 5;
                sumBonus.value = bonusForOneNight * getDays();
                generalSum.value = price.value - sumBonus.value;
            }
        });


        function getDays() {
            let startDateStr = jQuery('#startDate').val()
            let endDateStr = jQuery('#endDate').val()
            let startDate = new Date(startDateStr)
            let endDate = new Date(endDateStr)

            const diffTime = Math.abs(endDate - startDate);
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            return diffDays;

        }
    })


</script>
</body>
</html>