<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<head th:replace="leftmenu :: head">

</head>

<body>
<!--<div id="preloader">-->
<!--    <div class="sk-three-bounce">-->
<!--        <div class="sk-child sk-bounce1"></div>-->
<!--        <div class="sk-child sk-bounce2"></div>-->
<!--        <div class="sk-child sk-bounce3"></div>-->
<!--    </div>-->
<!--</div>-->
<div id="main-wrapper" th:replace="leftmenu :: adminMenu">

</div>

<div  class="content-body">
    <div class="container-fluid">
        <div class="row">
            Hello WORLD!
        </div>
    </div>
</div>

<div th:replace="leftmenu :: footer">

</div>

</body>

</html>