<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Booking Hotel Project</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/vendor/owl-carousel/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/owl-carousel/css/owl.theme.default.min.css}">
    <link th:href="@{/vendor/jqvmap/css/jqvmap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:fragment="adminMenu">

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div>
        <div class="nav-header">
            <a href="/" class="brand-logo">
                <img class="logo-abbr" th:src="@{/images/logo.png}" alt="">
                <img class="logo-compact" th:src="@{/images/logo-text.png}" alt="">
                <img class="brand-title" th:src="@{/images/logo-text.png}" alt="">
            </a>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">

                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="/logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                            class="icon icon-single-04"></i><span class="nav-text">All lists</span></a>
                        <ul aria-expanded="false">
                            <li><a href="/admin/user/list">Users</a></li>
                        </ul>
                        <ul aria-expanded="false">
                            <li><a href="/admin/tarif/list">Tarif</a></li>
                        </ul>
                        <ul aria-expanded="false">
                            <li><a href="/admin/periodType/list">Period Types</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>


        <!-- Required vendors -->
        <script th:src="@{/vendor/global/global.min.js}"></script>
        <script th:src="@{/js/quixnav-init.js}"></script>
        <script th:src="@{/js/custom.min.js}"></script>


        <!-- Vectormap -->
        <script th:src="@{/vendor/raphael/raphael.min.js}"></script>
        <script th:src="@{/vendor/morris/morris.min.js}"></script>


        <script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
        <script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>

        <script th:src="@{/vendor/gaugeJS/dist/gauge.min.js}"></script>

        <!--  flot-chart js -->
        <script th:src="@{/vendor/flot/jquery.flot.js}"></script>
        <script th:src="@{/vendor/flot/jquery.flot.resize.js}"></script>

        <!-- Owl Carousel -->
        <script th:src="@{/vendor/owl-carousel/js/owl.carousel.min.js}"></script>

        <!-- Counter Up -->
        <script th:src="@{/vendor/jqvmap/js/jquery.vmap.min.js}"></script>
        <script th:src="@{/vendor/jqvmap/js/jquery.vmap.usa.js}"></script>
        <script th:src="@{/vendor/jquery.counterup/jquery.counterup.min.js}"></script>


        <script th:src="@{/js/dashboard/dashboard-1.js}"></script>
    </div>
</div>

<div th:fragment="footer" class="footer">
    <div class="copyright">
        <p>Booking Hotel project</p>
        <p>Developed by Bekbulat Tashbolotov</p>
    </div>
</div>

</body>
</html>